In [2]:
import pandas as pd

In [5]:
langDB = pd.read_excel("../static/lang_files/Korean.xlsx", usecols=["seg"])
langDB.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31102 entries, 0 to 31101
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   seg     31101 non-null  object
dtypes: object(1)
memory usage: 243.1+ KB

In [4]:
langDB[langDB["seg"].isna()]

       seg
29057  NaN

In [7]:
for lang in langDB.values:
    print(lang[0])
    break

In the beginning God created the heaven and the earth.